@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
$column: 36px;
$gutter: 12px;
$grid-columns: 24;
$max-width: 1200px;

$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;

// Neat Breakpoints
$tablet: new-breakpoint(max-width 800px 24);
$mobile: new-breakpoint(max-width 480px 24);
$desktop: new-breakpoint(min-width 1024px 24);
$large-screen: new-breakpoint(min-width 1376px 24);
