* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container-main,
.container {
  @include outer-container();
  position: relative;
}

.omega {
  margin-right: 0 !important;
}
