<%= title_page 'Título da Página', subtitle: 'Subtítulo' %>

<%= add_resource 'Add Novo', new_user_path %>

<%= render partial: 'filters_by_from_to' %>

<table class='table-page'>
  <thead>
    <tr>
      <th>Name</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= display_list_for(@users, fields: 2) %>
  </tbody>
</table>

<!-- pagination example with will_paginate-->
<div class="pagination">
  <span class="previous_page disabled">← Anterior</span> 
  <em class="current">1</em> 
  <a rel="next" href="javascript://">2</a> 
  <a class="next_page" rel="next" href="javascript://">Próximo →</a>
</div>