<%= title_page 'Título da Página' %>

<%= add_resource 'Add Novo', new_user_path %>

<table class='table-page'>
  <thead>
    <tr>
      <th>Name</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <%= display_list_for(@users, fields: 2) %>
  </tbody>
</table>