@import "loldesign_publisher/base";

$header-background: #a7a9ab;

header.main{
  background: $header-background;

  a{
    color: #fff;
    font-size: 12px;
  
    &.logout{
      float: right;
    }
  }

  i{
    margin: 0px;
  }
}