@import "loldesign_publisher/base";
@import 'normalize-rails';
@import 'bourbon';
@import "../base/variables";
@import "../base/grid-settings";
@import 'neat';
@import "../base/typography";

$link-color: #6d6e71;
$link-active-color: #484045;
$link-border-color: #c6c6c6;

nav.main{
  @include span-columns(5 of 24);
  margin-top: 30px;
  margin-left: 0;

  ul{
    margin-top: 30px;
  }

  a{
    color: $link-color;
    font-size: 15px;
    border-bottom: 1px solid $link-border-color;
    padding-bottom: 5px;
    margin-bottom: 5px;
    display: block;
    font-weight: $normal;

    &[data-active=true],
    &:hover{
      color: $link-active-color;
      background: image-url('loldesign_publisher/nav_active_link.svg') no-repeat 177px 8px;
    }
  }
}
