@import "loldesign_publisher/base";

.btn.save{
  @include grid(2);
  height: 27px;
  line-height: 25px;
  
  a{
    font-size: 12px;
    padding: 0px;
  }

  input[type='submit']{
    font-size: 12px;
  }
}