@import "loldesign_publisher/base";

.messages{
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  &.error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }

  &.notice{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
}