@import "loldesign_publisher/base";

header.title-page{
  @include clearfix;
  border-bottom: 1px dotted #000;
  
  h2{
    font-size: 30px;
    @include grid(11);
    @include alpha;
  }

  .btn{
    display: none;

    &:last-child{
      @include omega;
    }
  }

  .btn.show{
    margin-top: 13px;
  }

  .btn.save{
    margin-top: 10px;
  }

  &[data-show=true]{
    .btn.show{
      display: block;
    }
  }

  &[data-save=true]{
    .btn.save{
      display: block;
    }
  }

  &[data-show=true][data-save=false]{
    .btn.show{
      display: block;
      @include push(2);
    }
  }

  &[data-show=false][data-save=true]{
    .btn.save{
      display: block;
      @include push(2);
    }
  }
}