<header class="main">
  <section class='container-main'>
    <%= link_to LoldesignPublisher.config[:logout], method: :delete, class: 'logout' do%>
      <span>Sair</span>
      <i class="icon-logout"></i>
    <% end -%>
  </section>
</header>
