<nav class='main'>
  <figure>
    <%= image_tag LoldesignPublisher.config[:logo] %>
  </figure>
  <ul>
      <% LoldesignPublisher.config[:menu_links].each_key do |key|%>
        <li>
          <%= link_to key, LoldesignPublisher.config[:menu_links][key] %>
        </li>
      <% end -%>
    </ul>
</nav>